fastapi
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
pydantic>=2.7.0,<3.0.0
sqlalchemy
sqlalchemy-utils
psycopg2-binary
fastapi_utils
typing-inspect
requests
uvicorn
gunicorn
waitress
loguru
fastapi-cors
bcrypt==4.0.1
python-multipart
pandas
openpyxl
python-dateutil